@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;700&display=swap');

$primary: #F4D03F;
$primary-light: #F9E79F;
$secondary: #784212;
$secondary-light: #AF601A;
$light: #FBFCFC;
$font-stack: 'Hind Siliguri', sans-serif;