@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-stack;
  background: linear-gradient(to bottom right, rgba(88, 214, 140, 0.8), rgba(35, 155, 86, 0.6)), url(../images/greg-garnhart.jpg) no-repeat fixed center/cover;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Header / Navbar */
header {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7rem;
  padding: 0 3rem;
  color: $light;
  background: $secondary;
  border-bottom: $secondary-light 1px solid;

  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 114rem;
    margin: 0 auto;

    h1 {
      font-size: 2.8rem;
      font-weight: 700;
      color: $primary;
    }

    ul {
      display: flex;
      list-style: none;

      li {
        font-size: 1.6rem;
        font-weight: 400;
        margin-left: 3rem;

        .complete-count,
        .incomplete-count {
          font-size: 1.8rem;
          font-weight: 700;
          color: $primary;
        }
      }
    }
  }
}

/* High Peaks Table */
.high-peaks-table {
  font-size: 1.8rem;
  width: 100%;
  max-width: 114rem;
  margin: 10rem 0 3rem 0;
  color: $primary;
  background: $secondary;
  border: $secondary-light 1px solid;
  border-collapse: collapse;

  tr {
    th {
      font-size: 1.2rem;
      font-weight: 300;
      text-align: left;
      padding-top: 0.5rem;
      color: $light;
  
      & span:hover {
        cursor: pointer;
      }

      &:nth-of-type(2) {
        width: 60%;
      }

      &:nth-of-type(3) {
        width: 20%;
      }

      &:nth-of-type(4) {
        width: 20%;
      }
    }

    td {
      border-bottom: $secondary-light 1px solid;

      &:nth-of-type(1) {
        font-size: 2.4rem;
        text-align: center;
        padding: 1.5rem 3rem 1.5rem 1.5rem;
      }

      &:nth-of-type(4) {
        padding-right: 1.5rem;
      }
    }
  }
  
  .status-icon {
    &.complete {
      color: $primary;
      cursor: pointer;
    }
  
    &.incomplete {
      color: $light;
      cursor: pointer;
      transition: color .2s ease;
  
      &:hover {
        color: $primary;
      }
    }
  }

  .date-completed {
    &.incomplete {
      font-weight: 300;
      font-style: italic;
    }
  }


}

/* Status Form */
.status-form-modal {
  position: fixed;
  top: 20vh;
  z-index: 2;
  text-align: center;
  width: 46rem;
  padding: 1.5rem;
  background: $secondary;
  border: $secondary-light 1px solid;
  animation: fadein 0.4s;

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  h2 {
    font-size: 2.4rem;
    color: $primary;
    margin-bottom: -0.2rem;
    padding: 0;
  }

  h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 0.8rem;
    padding: 0;
    color: $primary;
  }

  input[type=date] {
    font-family: $font-stack;
    font-size: 1.6rem;
    width: 25rem;
    height: 4rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    color: $secondary;
    background: $light;
    border: none;
    outline: none;
  }

  .form-buttons {
    font-size: 0;
    margin-bottom: 0.8rem;

    button {
      font-family: $font-stack;
      font-size: 1.4rem;
      font-weight: 400;
      width: 8rem;
      height: 4rem;
      margin: 0 0.25rem;
      color: $secondary;
      background: $primary;
      border: none;
      outline: none;
      cursor: pointer;
      transition: background .2s ease;

      &:hover {
        background: $primary-light;
      }
    }
  }

  .alert-container {
    font-size: 1.4rem;
    font-weight: 400;
    font-style: italic;
    height: 2.4rem;
    color: $light;
  }
}

.transparent-cover {
  position:   fixed;
  top:        0; 
  left:       0; 
  z-index:    1;
  width:      100%;
  height:     100%; 
  background: #000; 
  opacity:    0.7;
}

@import 'media';