@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-stack;
  background: linear-gradient(to bottom, rgba(97, 173, 94, 0.5), #2e7d32), url(../images/greg-garnhart.jpg) no-repeat fixed center/cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Header / Navbar */
header {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7rem;
  padding: 0 3rem;
  color: $light;
  background: $primary;
  border-bottom: $primary-light 1px solid;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 114rem;
    margin: 0 auto;

    h1 {
      font-size: 2.8rem;
      font-weight: 700;
      color: $light;
    }

    ul {
      display: flex;
      list-style: none;

      li {
        font-size: 1.6rem;
        font-weight: 400;
        margin-left: 3rem;

        .complete-count,
        .incomplete-count {
          font-size: 1.8rem;
          font-weight: 700;
          color: $light
        }
      }
    }
  }
}

/* High Peaks Table */
.high-peaks-table {
  font-size: 1.8rem;
  width: 100%;
  max-width: 114rem;
  margin: 10rem 0 3rem 0;
  color: $dark;
  background: $light;
  border: $medium 1px solid;
  border-radius: 0.6rem;
  border-spacing: 0;

  tr {
    th {
      font-size: 1.2rem;
      font-weight: 300;
      text-align: left;
      padding: 0.8rem 0;
      color: $dark;
  
      & span:hover {
        cursor: pointer;
      }

      &:nth-of-type(2) {
        width: 60%;
      }

      &:nth-of-type(3) {
        width: 20%;
      }

      &:nth-of-type(4) {
        width: 20%;
      }
    }

    td {
      border-bottom: $medium 1px solid;

      &:nth-of-type(1) {
        font-size: 2.4rem;
        text-align: center;
        padding: 1.5rem 3rem 1.5rem 1.5rem;
      }

      &:nth-of-type(2) {
        cursor: pointer;
      }

      &:nth-of-type(4) {
        padding-right: 1.5rem;
      }
    }
  }

  & tbody {
    & tr:hover {
      background: #f5f5f5;
    }

    & > tr:last-child > td {
      border-bottom: 0;
    }
  }
  
  .status-icon {
    &.complete {
      color: $primary;
      cursor: pointer;
      transition: color .2s ease;

      &:hover {
        color: $primary-light;
      }
    }
  
    &.incomplete {
      color: $secondary;
      cursor: pointer;
      transition: color .2s ease;
  
      &:hover {
        color: $secondary-light;
      }
    }
  }

  .date-completed {
    &.incomplete {
      font-weight: 300;
      color: $dark;
    }
  }
}

/* Status Form */
.status-form-modal {
  position: fixed;
  top: 20vh;
  z-index: 2;
  text-align: center;
  width: 46rem;
  padding: 1.5rem;
  background: $light;
  border: $medium 1px solid;
  border-radius: 0.6rem;
  animation: fadein 0.4s;

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  h2 {
    font-size: 2.4rem;
    color: $primary;
    margin-bottom: 0.4rem;
    padding: 0;
  }

  h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1.0rem;
    padding: 0;
    color: $dark;
  }

  input[type=date] {
    font-family: $font-stack;
    font-size: 1.6rem;
    width: 27.6rem;
    height: 4rem;
    margin-bottom: 0.8rem;
    padding: 1rem;
    color: $dark;
    background: $light;
    border: $medium 1px solid;
    border-radius: 0.6rem;
    outline: none;
  }

  .form-buttons {
    font-size: 0;
    margin-bottom: 1.4rem;

    button {
      font-family: $font-stack;
      font-size: 1.4rem;
      font-weight: 400;
      width: 8.8rem;
      height: 4rem;
      margin: 0 0.25rem;
      padding-bottom: 0.4rem;
      color: $light;
      background: $secondary;
      border: none;
      border-radius: 0.6rem;
      outline: none;
      cursor: pointer;
      transition: background .2s ease;

      &:hover {
        background: $secondary-light;
      }
    }
  }

  .alert-container {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 0.4rem;
    height: 2.4rem;
    color: $dark;
  }
}

/* Footer */
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  width: 100%;
  height: 7rem;
  padding: 0 3rem;
  color: $light;
  background: $primary;
}

.transparent-cover {
  position:   fixed;
  top:        0; 
  left:       0; 
  z-index:    1;
  width:      100%;
  height:     100%; 
  background: #000; 
  opacity:    0.7;
}

@import 'media';