@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;

  padding: 3rem;
  box-sizing: border-box;
}

p#sort-by-label {
  display: inline;
}

th {
  text-align: left;
}

th, td {
  padding: .4rem 1.2rem;
}

tr td:nth-of-type(1) {
  padding-left: 0;
  padding-right: 0;
}

th:nth-of-type(2),
tr td:nth-of-type(2) {
  font-weight: 700;
  padding-left: 0;
}

h2 {
  margin-bottom: 10px;
}

.alert {
  color: #fff;
  width: 42rem;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 10px;
}

.alert-success {
  background: #228B22;
}

.alert-error {
  background: #DC143C;
}

#container-status-form {
  width: 42rem;
  padding: 1.5rem;
  border: black solid 1px;
  border-radius: 1rem;
  margin-bottom: 10px;
}

#container-header-counters {
  width: 42rem;
  padding: 1.5rem;
  border: black solid 1px;
  border-radius: 1rem;
  margin-bottom: 10px;
}

.complete-count,
.incomplete-count {
  font-weight: 700;
}