*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  /* font-family: 'Cabin', sans-serif; */
  font-weight: 400;
  padding: 3rem;
  box-sizing: border-box;

  font-size: 1.5rem;
}

p {
  line-height: 2.5rem;
}

p#sort-by-label {
  display: inline;
}

select#sort-by-select {
  display: inline;
  margin-bottom: 1.6rem;
}

th {
  font-size: 1.2rem;
  text-align: left;
  background: lightgray;
}

td.number {
  width: 6rem;
}

td.name {
  width: 30rem;
  font-weight: 700;
}

td.elevation {
  width: 9rem;
}

td.date-completed {
  width: 12rem;
}

td.is-completed {
  text-align: center;
  font-size: 2rem;
}

td.completed-form {
  width: 24rem;
}

table {
  border-collapse: collapse;
  border: 1px solid silver;
}

th, td {
  border-bottom: 1px solid silver;
  padding: 1rem;
}

.check-green {
  color: mediumseagreen;
}

.check-red {
  color: crimson;
}