@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;

  padding: 3rem;
  box-sizing: border-box;
}

p#sort-by-label {
  display: inline;
}

select#sort-by-select {
  margin-bottom: 1rem;
}

th {
  font-size: 1.2rem;
  text-align: left;
}

td.number {
  width: 6rem;
}

td.name {
  width: 30rem;
  font-weight: 700;
}

td.elevation {
  width: 9rem;
}

td.date-completed {
  width: 12rem;
}

td.is-completed {
  text-align: center;
  font-size: 2rem;
}

td.completed-form {
  width: 24rem;
}